[submodule "vendor"]
	path = vendor
	url = git://github.com/extjs/Connect.git
[submodule "vendor/connect"]
	path = vendor/connect
	url = git://github.com/extjs/Connect.git
[submodule "vendor/underscore"]
	path = vendor/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "vendor/template"]
	path = vendor/template
	url = git://github.com/darobin/template.git
